#firstPane
{
	-fx-background-color:lightgray ;
}

#personalInfos
{
	-fx-background-color:rgb(230,230,230);
	
}

#personalData
{
	
}

#mainGridPane
{
	-fx-background-color:white;
}

#personalDatalblEntries
{
	-fx-border-color:lightgray;
	-fx-border-width:0 0 5 0;
}

#personalDataDate
{
	-fx-background-color:red;
}