/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#btnLogin
{
	-fx-background-color:rgb(120,120,120);
}

#paneRight
{
	-fx-background-color:white;
}

#paneLeft
{
	-fx-background-image:url("src/pictures/office-820390_1920.jpg");
}